@font-face {
    font-family: LATO;
    src: url(font/Lato-Bold.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: LATO;
    margin: 0px;
    background-image: repeating-linear-gradient(0.45turn, #5e5a5a 0, #5e5a5a 2px, #666666 2px, #666666 11px);
    size: 16px 16px;
}
nav{
    width: 100%;
}


menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: bisque;
}

li{
    list-style-type: none;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    text-decoration: none;
    color: black;
}

menu > li > a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(241, 175, 93);
    padding: 10px;
}

/* @media (max-width: 780) {
    background-color: ;
} */
li > a > svg, span{
    display: block;
    margin: 0px 5px;
    text-transform: uppercase;
}

main{
    max-width: 1000px;
    background-color: #d8d3d1;
    padding: 20px 40px;
}
h1{
    text-align: center;
    font-size: 40px;
}

.info{
    text-align: center;
    background-color: #b6aeab;
}
a > img{
    width: 150px;
    height: 150px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pokemon{
    width: 150px;
    padding: 15px 10px;
    /* background: linear-gradient(0deg, #79737136, #b6aeab44); */
    border-radius: 13px;
}

.pokemon > a:hover{
    color: rgb(56, 47, 97);
    font-weight: bold;
}

.numbers{
    text-align: center;
    margin-bottom: 10px;
}
.numbers > p{
    margin: 7px 0;
    text-transform: uppercase;
    font-size: 13px;
}

